.bg {
  background-color: #cccccc;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3N-ytA4QVS_-7pi7C6uh0XdaTvta-c-kdnA&usqp=CAU");
  background-attachment: fixed;
  background-size: cover;
}
