.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}
body {
  background-color: #ffffff;
  background-image: ur("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3N-ytA4QVS_-7pi7C6uh0XdaTvta-c-kdnA&usqp=CAU");
  background-attachment: fixed;
  background-size: cover;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}